<div class="login">
  <form
    class="login__form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm)"
  >
    <div class="login__form--item">
      <label for="email">Email</label>
      <input type="text" formControlName="email" />
      @if (!loginForm.get('email')?.valid && loginForm.get('email')?.touched) {
      <span class="login__form--error"> Please, enter valid email. </span>
      }
    </div>
    <div class="login__form--item">
      <label for="password">Password</label>
      <input type="password" formControlName="password" />
      @if (!loginForm.get('password')?.valid &&
      loginForm.get('password')?.touched) {
      <span class="login__form--error"> Password is too short </span>
      }
    </div>
    <div class="login__form--action">
      <div class="login__form--action-info">
        Don't have an account yet? Create one now!
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Submit</button>
    </div>
  </form>
</div>
