<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="login__form">
      <label for="email">Email</label>
      <input type="text" formControlName="email" />
      @if (!loginForm.get('email')?.valid && loginForm.get('email')?.touched) {
      <span class="form__error"> Please, enter valid email. </span>
      }
    </div>
    <div class="login__form">
      <label for="password">Password</label>
      <input type="password" formControlName="password" />
      @if (!loginForm.get('password')?.valid &&
      loginForm.get('password')?.touched) {
      <span class="form__error"> Password is too short </span>
      }
    </div>
  </form>
</div>
